<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/iabsisvideotheque/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/iabsisvideotheque/css/videotheque-spec.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/iabsisvideotheque/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/iabsisvideotheque/css/style.css') }}" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

    </style>
    <link href="{{ asset('bundles/iabsisvideotheque/css/bootstrap-responsive.css') }}" rel="stylesheet">

  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            {% block sidebar %}{% endblock %}
          </div><!--/.well -->
        </div><!--/span sidebar-->

        <div class="span9">
          <div class="hero-unit">
            {% block body %}{% endblock %}

          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Iabsis 2015</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/iabsisvideotheque/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/iabsisvideotheque/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/iabsisvideotheque/js/app.js') }}"></script>

  </body>
</html>
