{% extends '::base.html.twig' %}

{% use 'IabsisVideothequeBundle:Admin:sidebar_admin.html.twig' %}

{% block body -%}
    <h1>Détail du film</h1>

    <table class="record_properties table table-bordered table-hover records_list">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Affiche</th>
            <td><img src="{{ asset('uploads/imgs/'~entity.picture.path) }}"
                     alt="{{ asset(entity.picture.name) }}"
                     class="film_picture" /></td>
        </tr>

        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>

        <tr>
            <th>Genres</th>
            <td>{% for genre in entity.listeDesGenres %}<span class="badge badge-default">{{ genre }}</span> {% endfor %}</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('film') }}">
        Back to the list
    </a>

    <a class="btn btn-primary" href="{{ path('film_edit', { 'id': entity.id }) }}">
        Edit
    </a>
    {{ form(delete_form, { 'attr': {'class': 'delete-form'} }) }}
{% endblock %}
